# Build directories
build/
build_arm/
build_debug/
build_release/

# C++ Objects and libs
*.o
*.obj
*.a
*.so
*.dylib
*.dll

# Executables
bin/
*.exe
*.out

# VSCode (Giữ lại config của bạn)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS specific
.DS_Store
Thumbs.db